body {
  background: #000000;
}
.tags,
.next,
.previous {
  width: 25%;
  display: block;
  position: absolute;
  height: 100%;
}
.tags:hover,
.next:hover,
.previous:hover {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.previous {
  left: 0px;
}
.previous div {
  left: 0px;
}
.next,
.tags {
  right: 0px;
}
.next div,
.tags div {
  right: 0px;
}
.container .thumb {
  margin-bottom: 10px;
}
.ng-set img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  margin-top: 10px;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
nav {
  background: #ffffff;
  width: 100%;
  height: 50px;
  position: absolute;
}
nav {
  opacity: 0;
  display: block;
}
nav:hover {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
nav .infos {
  padding-top: 15px;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}
nav .glyphicon {
  position: absolute;
  font-size: 30px;
  top: 10px;
}
nav div.glyphicon-circle-arrow-left {
  left: 10px;
}
nav .tags,
nav div.glyphicon-circle-arrow-right {
  right: 10px;
  top: 10px;
}
