<!DOCTYPE html>
<html ng-app="pypics">
  <head>
    <title>{{ object.title or object.name }}</title>
    <meta name="og:type" content="article" />
    <meta name="og:title" content="." />
    <meta name="og:description" content=""/>
    <meta name="og:url" content="{{ env.url + object.url }}"/>

    <meta name="twitter:title" content="." />
    <meta name="twitter:description" content=""/>
    <meta name="twitter:card"content="summary_large_image">
    <meta name="twitter:url" content="{{ env.url + object.url }}"/>

    {% if object.thumbnail %}
      <meta name="og:image"
            content="{{ env.url + object.thumbnail(size=600) }}"/>
      <meta name="twitter:image:src"
            content="{{ env.url + object.thumbnail(size=600) }}"/>
    {% endif %}

    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ stylesheet }}" />
    {% endfor %}
    <style type="text/css">
      {% block css %}
      {% endblock css %}
    </style>
  </head>
  <body>
    {% block contents %}
    {% endblock contents %}
    {% for javascript in javascripts %}
      <script type="text/javascript" src="{{ javascript }}"></script>
    {% endfor %}
  </body>
</html>
