{% extends "base.html" %}
{% block contents %}
<div ng-controller="SetCtrl" data-ng-init="init()">
  <div class="container set" ng-show="!anchor()">
    {% for i, object in enumerate(container.object_list) %}
      <div class="thumb col-lg-2">

        <a href="{{ object.url }}" title="{{ object.title }}"
           rel="{{ object.photo() }}" id="{{ i }}"
           ng-click="show({{i}})"
           ><img class="img-thumbnail"
                 src="{{ object.thumbnail() }}"
                 alt="{{ object.title }}" /></a>
      </div>
    {% endfor %}
  </div>
  <div class="ng-set text-center" ng-show="anchor()">
    <a class="previous" ng-style="size"
       ng-show="current > 0"
       ng-click="previous()"
       >
    </a>
    <a class="next" ng-style="size"
       ng-show="current < photos.length - 1"
       ng-click="next()"
       >
    </a>
    <nav>
      <a class="previous"
         ng-show="current > 0"
         ng-click="previous()"
         ><div class="glyphicon glyphicon-circle-arrow-left"></div>
      </a>
      <a class="next"
         ng-show="current < photos.length - 1"
         ng-click="next()"
         ><div class="glyphicon glyphicon-circle-arrow-right"></div>
      </a>
      <div class="infos">
        <a class="btn-small"
           href="{{container.url}}"
           >{{container.title}}</a>/<a class="btn-small"
            href="{$ photos[current].href $}">{$ photos[current].title $}</a>
      </div>
    </nav>
    <img src="{$ img.src $}" ng-show="$index == current"
         ng-style="$index == current && image_size"
         ng-repeat="img in photos"
         />
  </div>
</div>
{% endblock contents %}
